DATABASE_URL=
PORT=3000
FRONTEND_URL=http://localhost:5173
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_KEY=
WOMPI_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
BASE_FEE_CENTS=500000
DELIVERY_FEE_CENTS=800000
